<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link
      href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Add Product | ST Coffeeshop</title>
  </head>
  <body class="container">
    <div>
      <a href="/">
        <h1>Special Team Coffeeshop</h1>
      </a>
      <p class="lead">We sell top quality coffee from Java</p>
    </div>

    <h1>Add Product</h1>
    <form id="add-product-form">
      <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="e.g Americano, Tubruk"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Product Description</label>
        <textarea
          type="text"
          name="description"
          class="form-control"
          placeholder="e.g This coffee made with special ingredients..."
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Product Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            name="price"
            type="number"
            class="form-control"
            step="0.01"
            min="0.00"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Product Image</label>
        <!-- <div id="product-image" class="dropzone"></div> -->
        <input type="file" name="image" class="form-control" />
      </div>

      <button class="btn btn-primary" type="submit">Add Product</button>
    </form>

    <!-- Modal -->
    <div
      class="modal fade"
      id="statusMessageModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Message</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div id="message" class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Webjars package -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/addProduct.js}"></script>
  </body>
</html>
