<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <title>Our Products | ST Coffeeshop</title>
  </head>
  <body class="container">
    <div>
      <a href="/">
        <h1>Special Team Coffeeshop</h1>
      </a>
      <p class="lead">We sell top quality coffee from Java</p>
    </div>

    <div class="row">
      <div class="col">
        <div class="row row-cols-3">
          <div class="col p-2" th:each="product : ${products}">
            <!-- Card -->
            <div class="card">
              <img
                class="img-fluid card-img-top"
                th:src="'data:' + ${product.mimeType} + ';base64, ' + ${product.image}"
                th:alt="${product.name}"
              />
              <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"></h5>
                <h6 class="card-text" th:text="${product.description}"></h6>
                <p th:text="'$' + ${product.price}"></p>
                <button class="btn btn-primary w-100">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cart -->
      <div class="col-sm-3 p-2">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4 class="border-bottom border-4">
                <strong>Your items</strong>
              </h4>
              <div id="cart" class="row card-text">
                <!-- Hidden by default -->
                <div id="cart-template" class="row d-none">
                  <div class="d-none" id="cart-template-id"></div>
                  <div id="cart-template-name" class="col-sm-4"></div>
                  <div id="cart-template-quantity" class="col"></div>
                  <div id="cart-template-price" class="col text-end"></div>
                </div>

                <div class="row justify-content-between">
                  <div class="col">
                    <small>Total</small>
                  </div>
                  <div class="col">
                    <h5 class="text-end">$0.00</h5>
                  </div>
                </div>
              </div>
              <button class="btn btn-danger mt-2 w-100">Pay</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="btn btn-primary" th:href="@{/product/add}" role="button"
      >Add Product</a
    >
    <a class="btn btn-danger" href="" role="button">Edit Product</a>
    <a class="btn btn-warning" href="" role="button">Delete Product</a>

    <!-- Webjars package -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/test.js}"></script>
  </body>
</html>
